export(zelig2pan.plm)
S3method(describe,pan.plm)
S3method(param,pan.plm)                                                                                                                                                                                               
S3method(qi,pan.plm)
export(pFormulaFix)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)  
importFrom(plm,pmodel.response)
S3method(pmodel.response,Formula)
